<div class="intro-grid-container">
  <div class="intro-grid-item">
      <h3 class="intro-grid-header">{{ include.section_1_header }}</h3>
  <hr>
    {{ include.section_1_content }}
  </div>

  <div class="intro-grid-item">
      <h3 class="intro-grid-header">{{ include.section_2_header }}</h3>
  <hr>
    {{ include.section_2_content }}
  </div>

  <div class="intro-grid-item">
      <h3 class="intro-grid-header">{{ include.section_3_header }}</h3>
  <hr>
    {{ include.section_3_content }}
  </div>

  <div class="intro-grid-item">
      <h3 class="intro-grid-header">{{ include.section_4_header }}</h3>
  <hr>
    {{ include.section_4_content }}
  </div>
</div>
