---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset 'utf-8';

// Theme skin
@import 'basically-basic/themes/{{ site.data.theme.skin | default: "default" }}';

@import 'basically-basic';

.site-logo {
  border-radius: 10%;
}

.intro {
  margin-bottom: 2rem;
  padding-bottom: 0;
  padding-top: 0;

  .inner {
    margin-bottom: -.5rem;
    max-width: unset;
  }

  .intro-title {
    @include fluid-type($min-vw, $max-vw, 26px, 70px);
    margin-bottom: 0;
  }

  .intro-subtitle {
    @include fluid-type($min-vw, $max-vw, 12px, 28px);
    margin-bottom: 1rem;
  }
}

.page-content {
  .inner {
    max-width: unset;
  }
}

$inner-div-topbar: #000;
$calendar-icon: #000;
$masthead-shadow-color: #888;
$main-background: #f9f9f9;
$masthead-background: #f5f5f5;

body {
  background-color: $main-background;
}

.sidebar-toggle-wrapper {
  background-color: transparent;
}

.wrapper {
  background-color: $main-background;

  // sass-lint:disable no-ids
  #masthead {
    background-color: $masthead-background;
    border-color: $inner-div-topbar;
    border-style: solid;
    border-width: 0 0 5px;
    box-shadow: 3px 1px 2px 1px $masthead-shadow-color;
    overflow: hidden;

    .inner {
      float: left;
      position: relative;
    }
  }
}

.entry-meta {
  .icon {
    fill: $calendar-icon;
  }
}

.bio-picture {
  float: left;
  padding: 0 3% 2%;
  width: 25%;
}

$bio-section-bar: #000;

.bio-section-start {
  background-color: $bio-section-bar; // Modern Browsers
  border: 0;
  box-shadow: 0 2px 2px 0 $masthead-shadow-color;
  clear: both;
  color: $bio-section-bar; // old IE
  height: 4px;
  margin: 30px 0;
}

.team-section-end {
  clear: both;
  margin: 30px 0;
}

@media screen and (min-width: 768px) {
  .initial-content {
    margin: auto;
    max-width: 80%;
  }
}

@media screen and (min-width: 1400px) {
  .initial-content {
    margin: auto;
    max-width: 1250px;
  }
}

.language-shell {
  pre {
    white-space: pre-wrap;
  }
}

$inline-code-background: #777;
$inline-code-text: $main-background;

.highlighter-rouge {
  background-color: $inline-code-background;
  color: $inline-code-text;
}

$topnav-text: #000;
$active-menu-background: $masthead-background;
$hover-menu-background: #ddd;
$active-menu-text: #000;
$active-menu-border: transparent;
$hover-menu-text: #000;
$hover-menu-border: transparent;

.topnav {
  display: none;
}

@media screen and (min-width: 1024px) {
  .sidebar-toggle-wrapper {
    display: none;
  }

  .sidebar {
    display: none;
  }

  // Add a black background color to the top navigation
  .topnav {
    background-color: transparent;
    display: block;
    padding: 1.2rem;
    position: absolute;
    right: 10px;
    top: 20px;

    // Style the links inside the navigation bar
    a {
      border: solid;
      border-color: transparent;
      border-radius: 10px;
      color: $topnav-text;
      font-size: 22px;
      font-weight: bold;
      margin: 2px;
      padding: 7px 8px 7px 10px;
      text-align: center;
      text-decoration: none;

      :hover {
        border-width: 0;
      }
    }

    // Change the color of links on hover
    :hover {
      background-color: $hover-menu-background;
      border-color: $hover-menu-border;
      color: $hover-menu-text;
    }

    // Change the color of links on hover
    .active {
      // Add a color to the active/current link
      background-color: $active-menu-background;
      border-color: $active-menu-border;
      color: $active-menu-text;
    }

    // This doesn't seem to work otherwise...
    // sass-lint:disable force-pseudo-nesting
    .active:hover {
      background-color: $hover-menu-background;
      border-color: $hover-menu-border;
      color: $hover-menu-text;
    }
  }
}

$grid-container-border: #000;

.intro-grid-container {
  display: grid;
}

.intro-grid-item {
  border: 0 solid $grid-container-border;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  text-align: center;

  hr {
    background-color: $grid-container-border; // Modern Browsers
    border: 0;
    box-shadow: 0 2px 2px 0 $masthead-shadow-color;
    color: $grid-container-border; // old IE
    height: 4px;
  }
}

.intro-grid-header {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .intro-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.layout--page {
  .entry-content {
    width: 100%;
  }
}

// MailChimp Form Embed Code - Classic - 12/17/2015 v10.7
// Disable a bunch of lint checks, because I copied this from mailchimp
// sass-lint:disable property-sort-order,no-ids,force-element-nesting
// sass-lint:disable no-vendor-prefixes
// sass-lint:disable hex-notation,attribute-quotes,no-color-literals
// sass-lint:disable hex-length,single-line-per-selector,force-attribute-nesting
// sass-lint:disable force-pseudo-nesting,zero-unit,no-qualifying-elements
// sass-lint:disable class-name-format,leading-zero,border-zero
// sass-lint:disable shorthand-values,no-transition-all
#mc_embed_signup form {
  display: block;
  position: relative;
  text-align: left;
  padding: 0 0 50px 0;
}

#mc_embed_signup input {
  border:  1px solid #ABB0B2;
  -webkit-border-radius:  3px;
  -moz-border-radius:  3px;
  border-radius:  3px;
}

#mc_embed_signup input:focus {
  border-color: #333;
}

#mc_embed_signup .button {
  clear: both;
  background-color:  #000;
  border:  0 none;
  border-radius: 4px;
  transition:  all 0.23s ease-in-out 0s;
  color:  #FFFFFF;
  cursor:  pointer;
  display:  inline-block;
  font-size: 20px;
  font-weight:  normal;
  height:  32px;
  line-height:  32px;
  margin:  0 5px 10px 0;
  padding:  0 22px;
  text-align:  center;
  text-decoration:  none;
  vertical-align:  top;
  white-space:  nowrap;
  width:  auto;
}

#mc_embed_signup .button:hover {
  background-color: #666;
}

#mc_embed_signup .small-meta {
  font-size:  11px;
}

#mc_embed_signup .nowrap {
  white-space: nowrap;
}

#mc_embed_signup .mc-field-group {
  clear: left;
  position: relative;
  width: 96%;
  padding-bottom: 10px;
  min-height: 50px;
}

#mc_embed_signup .size1of2 {
  clear: none;
  float: left;
  display: inline-block;
  width: 46%;
  margin-right: 4%;
}

* html #mc_embed_signup .size1of2 {
  margin-right: 2%;
  // Fix for IE6 double margins.
}

#mc_embed_signup .mc-field-group label {
  display: block;
  margin-bottom: 3px;
}

#mc_embed_signup .mc-field-group input {
  display: block;
  width: 100%;
  padding: 8px 0;
  text-indent: 2%;
}

#mc_embed_signup .mc-field-group select {
  display: inline-block;
  width: 99%;
  padding: 5px 0;
  margin-bottom: 2px;
}

#mc_embed_signup .clear {
  clear: both;
}

#mc_embed_signup .mc-field-group.input-group ul {
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

#mc_embed_signup .mc-field-group.input-group ul li {
  display: block;
  padding: 3px 0;
  margin: 0;
}

#mc_embed_signup .mc-field-group.input-group label {
  display: inline;
}

#mc_embed_signup .mc-field-group.input-group input {
  display: inline;
  width: auto;
  border: none;
}

#mc_embed_signup div#mce-responses {
  float: left;
  top: -1.4em;
  padding: 0 .5em 0em .5em;
  overflow: hidden;
  width: 90%;
  margin:  0 5%;
  clear:  both;
}

#mc_embed_signup div.response {
  margin: 1em 0;
  padding: 0 .5em .5em 0;
  font-weight: bold;
  float: left;
  top: -1.5em;
  z-index: 1;
  width: 80%;
}

#mc_embed_signup #mce-error-response {
  display: none;
}

#mc_embed_signup #mce-success-response {
  color: #529214;
  display: none;
}

#mc_embed_signup label.error {
  display: block;
  float: none;
  width: auto;
  margin-left: 1.05em;
  text-align: left;
  padding: .5em 0;
}

#mc-embedded-subscribe {
  clear: both;
  width: auto;
  display: block;
  margin: 1em 0 1em 5%;
}

#mc_embed_signup #num-subscribers {
  font-size: 1.1em;
}

#mc_embed_signup #num-subscribers span {
  padding: .5em;
  border: 1px solid #ccc;
  margin-right: .5em;
  font-weight: bold;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  display: inline-block;
  margin: 2px 0 1em 0;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-border-radius:  3px;
  -moz-border-radius:  3px;
  border-radius:  3px;
  font-size: 14px;
  font-weight: normal;
  z-index: 1;
  color: #e85c41;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
  border: 2px solid #e85c41;
}

